@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/jetbrains-mono';
@import '@fontsource-variable/rubik';

:root {
	--r-main-font: 'Rubik Variable';
	--r-heading-font: 'Rubik Variable';
	--r-code-font: 'JetBrains Mono';
	--r-link-color: blue;
	--r-link-color-hover: 'blue';
}
